


{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <!--<h1><a href="">{{ post.title }}</a></h1>-->
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <h2>{{ post.brief }}</h2>
        <table>
        
        <tr>
            <td> 結構 </td>
            <td> 格林柱 </td>
            <td> {{ form.r03c3 }}</td>
            <td> {{ form.r03c4 }}</td>
            <td> {{ form.r03c5 }}</td>
            <td> {{ form.r03c6 }}</td>
            <td> {{ form.r03c7 }}</td>
            
        </tr>
        </table>
       
        </div>
    {% endfor %}
{% endblock content %}