{% extends 'blog/base.html' %} {% block content %}
<h1>New post</h1>
<form method="POST" class="post-form">{% csrf_token %}
    <table>

        <tr>
            <td>幾號機</td>
            <td> {{ form.title }}</td>
            <td>噸位</td>
            <td> {{ form.r01c4 }}</td>
            <td>人員</td>
            <td> {{ form.r01c6 }}</td>
            <td>日期</td>
            <td> {{ form.r01c8 }}</td>
        </tr>
        <tr>


            <th>部位</th>
            <th>組成</th>
            <th>零件</th>
            <th>進度一</th>
            <th>進度二</th>
            <th>進度三</th>
            <th colspan='2'>備註說明</th>


        </tr>

        <tr>
            <td> 結構 </td>
            <td> 格林柱 </td>
            <td> {{ form.r03c3 }}</td>
            <td> {{ form.r03c4 }}</td>
            <td> {{ form.r03c5 }}</td>
            <td> {{ form.r03c6 }}</td>
            <td colspan='2'> {{ form.r03c7 }}</td>
        </tr>
        <tr>
            <td> </td>
            <td> 機架底座 </td>
            <td> {{ form.r04c3 }}</td>
            <td> {{ form.r04c4 }}</td>
            <td> {{ form.r04c5 }}</td>
            <td> {{ form.r04c6 }}</td>
            <td colspan='2'> {{ form.r04c7 }}</td>
        </tr>

        <tr>
            <td colspan='8'>
                <button type="submit" class="save btn btn-default">Save</button>
            </td>
        </tr>
    </table>

</form>
{% endblock %}